@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: $primeryTextColor;
  background-color: $primeryBackgroundColor;

  transition: color 300ms $cubicBezier, background-color 300ms $cubicBezier;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
  &.dark-theme {
    background-color: #12181c;
    color: #ffffff;
  }
  &.ua .ua {
    display: block;
  }

  &.ua .en {
    display: none;
  }

  &.en .en {
    display: block;
  }

  &.en .ua {
    display: none;
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a,
button,
input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

section {
  padding: 30px 0;
}
