@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a,
button,
input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.buttons-list__item:not(:first-child) {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .buttons-list__item:not(:first-child) {
    margin-left: 16px;
  }
}

.buttons-list__item__header:not(:first-child) {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .buttons-list__item__header:not(:first-child) {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-list__item__header:not(:first-child) {
    margin-left: 16px;
  }
}

.button {
  min-width: 110px;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 125px;
    padding: 14px 10px 12px 10px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    min-width: 136px;
  }
}

.button--orange {
  background-color: #ff6b08;
  color: #ffffff;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .button__modal--orange {
    padding: 6px 27px;
  }
}

.button--orange:focus,
.button--orange:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #000000;
}

.button--transparent:focus,
.button--transparent:hover {
  background-color: #ff6b08;
  color: #ffffff;
  border: 1px solid transparent;
}

.button__header {
  min-width: 130px;
  padding: 13px 36px;
}
@media screen and (min-width: 768px) {
  .button__header {
    min-width: 152px;
    padding: 13px 46px;
  }
}
@media screen and (min-width: 1280px) {
  .button__header {
    min-width: 147px;
    padding-left: 41px;
    padding-right: 41px;
  }
}

.button__header--transparent {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  padding: 20px 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 32px 0;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  outline: none;
}

.modal-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 20px;
  min-width: 280px;
  background-color: #ffffff;
  overflow: scroll;
  height: 100vh;
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .modal-movie {
    flex-direction: row;
    padding: 40px 36px;
    -moz-column-gap: 68px;
         column-gap: 68px;
    max-width: 704px;
    align-items: flex-start;
    justify-content: center;
    height: unset;
    overflow: unset;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie {
    padding: 40px 12px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    max-width: 806px;
  }
}

.modal {
  position: relative;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    margin-top: unset;
  }
}

.modal-movie__info-weapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .modal-movie__info-weapper {
    padding-left: unset;
    padding-right: unset;
  }
}

.modal-movie__title {
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .modal-movie__title {
    font-size: 30px;
  }
}

.modal-movie__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal-movie__item {
  display: flex;
}

.modal-movie__key {
  color: #8c8c8c;
  min-width: 108px;
}

.modal-movie__value--accent {
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
  padding: 0 8px;
}
.modal-movie__value--uppercase {
  text-transform: uppercase;
}

.modal-movie__about-wrapper {
  font-size: 12px;
  line-height: 1.67;
}

.modal-movie__about {
  text-transform: uppercase;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal-movie__button-wrapper {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.modal-movie__btn {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

body.dark-theme .modal {
  background-color: #12181c;
}
body.dark-theme .modal__close {
  fill: #ffffff;
}

.trailer {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.poster {
  border-radius: 5px;
  max-width: 240px;
}
@media screen and (min-width: 768px) {
  .poster {
    max-width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .poster {
    max-width: 360px;
  }
}

.modal-movie__notify {
  text-align: center;
}

.modal-movie__overview {
  height: 236px;
  width: 240px;
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .modal-movie__overview {
    height: 236px;
    width: 240px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .modal-movie__overview {
    height: 236px;
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__overview {
    height: 160px;
    width: 391px;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca6aa;
}/*# sourceMappingURL=index.css.map */