//* Utils

@import './utils/vars';
@import './utils/container';
@import './common';

//* Components
@import './components/buttons';

//* layouts
@import './components/header/header';
@import './components/header/nav';
@import './components/main/main';
@import './components/modal/modal.scss';
@import './components/pagination/pagination.scss';
