.header {
  position: relative;
  
  width: 100vw;

  background-color: $headerBackgroundColor;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header__home {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/home/home_mobile_2x.jpg');
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/home/home_mobile_3x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: url('/src/images/home/home_tablet_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home/home_tablet_2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home/home_tablet_3x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
    // gap: 40px;
    // text-transform: uppercase;

    background-image: url('/src/images/home/home_pc_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home/home_pc_2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home/home_pc_3x.jpg');
    }
  }
}

.header__library {
  background-image: url('/src/images/library/header-library-bg-mobile-1x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: linear-gradient($headerBackgroundColor, $headerBackgroundColor), 100%;
  
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-mobile-2x.jpg');
    }
  
    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-mobile-3x.jpg');
    }
  
    @media screen and (min-width: $tablet) {
      background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-tablet-1x.jpg');
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-tablet-2x.jpg');
      }
  
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-tablet-3x.jpg');
      }
    }
  
    @media screen and (min-width: $desktop) {
      margin-right: auto;
      margin-left: auto;
      // gap: 40px;
      // text-transform: uppercase;
  
      background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-desktop-1x.jpg');
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-desktop-2x.jpg');
      }
  
      @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient($headerBackgroundColor, $headerBackgroundColor), url('/src/images/library/header-library-bg-desktop-3x.jpg');
      }
    }
}

.posioning-group--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posioning-group--second {
  margin-top: 10px;
  padding-left: 25px;
  justify-content: space-between;

  @media screen and (max-width: $mobile) {
      justify-content: end;
    }

  @media screen and (min-width: $tablet) {
    margin-top: 5px;
  }
}

.header__positioning {
  display: flex;
}

.header__positioning--for-logo {
  align-items: flex-start;
}

.header__positioning--for-form {
  justify-content: center;
  align-items: flex-end;

  margin-top: 21px;

  @media screen and (min-width: $tablet) {
      margin-top: 12px;
    }

        @media screen and (min-width: $desktop) {
          margin-top: 9px;
        }
}

.header__positioning--for-nav {
  flex-direction: column;
}

.logo {
  display: flex;
  align-content: center;
  gap: 10px;

  color: $secondaryColor;
}

.logo svg {
  align-self: center;
}

.logo__text {
  font-size: 30px;
  line-height: 35px;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.form__error-notification--for-header {
  height: 32px;
  margin-top: 20px;

  font-size: 14px;
  font-weight: 400;
  color: $errorTextColor;

  opacity: 1;

  @media screen and (min-width: $desktop) {
    height: 16px;
  }
}

.query__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $desktop) {
      padding-bottom: 15px;
    }
}

.buttons-list__header {
  display: none;

  padding-top: 10px;
  padding-bottom: 18px;

  @media screen and (min-width: $tablet) {
      padding-top: 2px;
      padding-bottom: 31px;
    }
        @media screen and (min-width: $desktop) {
          padding-top: 4px;
        }
}

// nav
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utils {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

// form

.form {
  position: relative;

  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: 336px;
    padding-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    width: 394px;
    padding-top: 0;
  }
}

.form_input {
  padding: 3px 12px 4px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $secondaryColor;
  background-color: transparent;
  border: none;
  border-bottom: $inputBorder;
  width: 100%;

  @media screen and (min-width: $desktop) {
      padding-top: 0;
    }
}

.form__submit {
  position: absolute;
  bottom: 6px;
  right: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.form__submit--search {
  display: flex;
  justify-content: center;
  align-items: center;
}

// language-switcher
.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  &__label {
    position: relative;
    line-height: 0.9;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;

    transition: border-color 300ms $cubicBezier;

    &:hover,
    &:focus {
      border-color: $activePageColor;
    }
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__lang {
    font-size: 16px;
    transition: all 300ms $cubicBezier;
  }
}

// theme-switch
.theme-switch {
  display: flex;
  align-items: center;
  z-index: 0;
  flex-shrink: 0;

  @media screen and (max-width: 918px) {
    position: static;
  }

  &__icon {
    color: #ffffff;
    height: 20px;
    width: 20px;
  }

  &__toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  &__track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
  }

  // &__toggle:checked+.theme-switch__track {
  // }
}

body.light-theme {
  .theme-switch__icon {
    &--light {
      position: relative;
      opacity: 1;
      visibility: 1;
      transition: opacity 300ms $cubicBezier, visibility 300ms $cubicBezier;
    }

    &--dark {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: 0;
    }
  }
}

body.dark-theme {
  .theme-switch__icon {
    &--dark {
      position: relative;
      opacity: 1;
      visibility: 1;
      transition: opacity 300ms $cubicBezier, visibility 300ms $cubicBezier;
    }

    &--light {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: 0;
    }
  }
}

// error
.error-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $errorTextColor;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.language-switcher__lang {
  color: $secondaryColor;
}
