@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
