.container {
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: $tablet) {
    padding: 0 32px;
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.container__header {
  display: flex;
  flex-direction: column;

  // height: 216px;
  padding-top: 40px;
  padding-bottom: 44px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 29px;
    }
}
