.movies-grid__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: unset;
    row-gap: 32px;
    column-gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 16px;
  }
}
