<header class="header home-header">
    <div class="container">
        <div class="utils">
            <div class="theme-switch" data-tooltip="theme-switch" >
                <label aria-hidden="true" class="theme-switch__track">
                <input
                    class="theme-switch__toggle"
                    type="checkbox"
                    name="theme"
                    aria-label="Перемкнути між світлою та темною темами"
                />
                <svg
                    width="20"
                    class="theme-switch__icon theme-switch__icon--light"
                    role="img"
                    aria-label="Іконка сонця"
                >
                    <use class="icon-sun" href="/src/images/sprite.svg#sun"></use>
                </svg>
                <svg
                    width="20"
                    class="theme-switch__icon theme-switch__icon--dark"
                    aria-label="Іконка місяця"
                >
                    <use href="/src/images/sprite.svg#moon"></use>
                </svg>
                </label>
            </div>
            <div class="language-switcher" data-tooltip="language-switch">
                <label class="language-switcher__label">
                <input
                    class="language-switcher__checkbox"
                    name="language"
                    type="checkbox"
                />
                <span class="language-switcher__lang">UA</span>
                </label>
            </div>
        </div>
        <nav class="nav nav__links">
            <a class="link logo" href="./index.html" class="logo">
                <img src="/src/images/logo.svg" alt="logo"/>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link active" href="/src/partials/modal.html">HOME</a>
				</li>
                <li class="nav__item login-user">
                    <a class="nav__link" id="link__library" href="/src/partials/library.html"
                        >Library</a
                    >
                </li>
                <li class="nav__item logout-user">
                    <div class="link__enter">
                        <a
                            class="naw__login-link link__signup"
                            href="#"
                            id="link__signup"
                            >Sign up</a
                        >
                        <span id="devider">or</span>
                        <a
                            class="naw__login-link link__login"
                            href="#"
                            id="link__login"
                            >Login</a
                        >
                    </div>
                </li>
                <li class="nav__item login-user">
                    <a
                        class="naw__login-link link__logout"
                        href="./index.html"
                        id="link__logout"
                        >Logout</a
                    >
                </li>
            </ul>
        </nav>
        <p class="greeting"></p>
        <form class="form home__form">
            <input
                class="form_input"
                name="query"
                type="text"
                placeholder="Movie search"
            />
            <button class="form__submit" type="submit">
                <img class="icon-search" src="/src/images/search.svg" alt="Іконка пошуку">
            </button>
        </form>
        <div class="error-text">
            <p class="en">
                Search result not successful. Enter the correct movie name and try
                again.
            </p>
            <p class="uk">
                Результат пошуку невдалий. Введіть правильну назву фільму та
                повторіть спробу.
            </p>
        </div>
    </div>
</header>