<header class="header lib-header">
  <div class="container">
    <div class="utils"></div>
    <nav class="nav nav__links">
      <a class="link logo" href="" class="logo">
        <img src="/src/images/library/film.svg" alt="logo" />
        <span class="logo__text">Filmoteka</span>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/src/partials/modal.html">HOME</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link active" 
            href="/src/partials/library.html"
            >MY LIBRARY</a
          >
        </li>
    </ul>
    </nav>
      <ul class="library-buttons">
        <li>
          <button type="button" class="library-btn">WATCHED</button>
        </li>
        <li>
          <button type="button" class="library-btn">QUEUE</button>
        </li>
      </ul>
    </div>
</header>
