<!-- кнопка скролу догори -->

<div id="scrollTop" class="isShowBtn isHiden">
  <i class="fa-solid fa-circle-arrow-up"></i>
</div>

<!-- лоадер -->
<div class="loader">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <p class="loader-text">wait pls..</p>
  </div>
</div>
