//=========== buttons for modal ===============

// <ul class="buttons-list">
//     <li class="buttons-list__item">
//         <button class="button button--orange" type="button">
//             add to Watched
//         </button>
//     </li>
//     <li class="buttons-list__item">
//         <button class="button button--transparent" type="button">
//             add to queue
//         </button>
//     </li>
// </ul>

//=========== buttons for header ===============

// <ul class="buttons-list buttons-list__header">
//     <li class="buttons-list__item">
//         <button
//             class="button button--transparent button__header button__header--transparent"
//             type="button"
//         >
//             Watched
//         </button>
//     </li>
//     <li class="buttons-list__item">
//         <button
//             class="button button--transparent button__header button__header--transparent"
//             type="button"
//         >
//             queue
//         </button>
//     </li>
// </ul>

//=========== styles ===============
.buttons-list {
    display: flex;
    justify-content: center;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-list__item:not(:first-child) {
    margin-left: 16px;
}

.button {
    min-width: 136px;
    padding: 14px 10px 12px 10px;

    text-transform: uppercase;

    border-radius: $imgBorderRadius;

    transition: background-color 300ms $cubicBezier, border 300ms $cubicBezier, color 300ms $cubicBezier;
}

.button--orange {
    background-color: $accentColor;
    color: $secondaryColor;

    border: 1px solid transparent;
}

.button--orange:focus,
.button--orange:hover {
    background-color: transparent;
    color: $primeryTextColor;

    border: 1px solid $primeryTextColor;
}

.button--transparent:focus,
.button--transparent:hover {
    background-color: $accentColor;
    color: $secondaryColor;

    border: 1px solid transparent;
}

.button--transparent {
    background-color: transparent;
    border: 1px solid $primeryTextColor;
}

.button__header {
    min-width: 147px;
    padding-left: 41px;
    padding-right: 41px;
}

.button__header--transparent {
    color: $secondaryColor;

    border: 1px solid $secondaryColor;
}