//=========== buttons for modal ===============

// <ul class="buttons-list">
//     <li class="buttons-list__item">
//         <button class="button button--orange button__modal--orange" type="button">
//             add to Watched
//         </button>
//     </li>
//     <li class="buttons-list__item">
//         <button class="button button--transparent" type="button">
//             add to queue
//         </button>
//     </li>
// </ul>

//=========== buttons for header ===============

// <ul class="buttons-list buttons-list__header">
//     <li class="buttons-list__item buttons-list__item__header">
//         <button
//             class="button button--transparent button__header button__header--transparent"
//             type="button"
//         >
//             Watched
//         </button>
//     </li>
//     <li class="buttons-list__item buttons-list__item__header">
//         <button
//             class="button button--transparent button__header button__header--transparent"
//             type="button"
//         >
//             queue
//         </button>
//     </li>
// </ul>

//=========== styles ===============
.buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons-list__item:not(:first-child) {
    margin-left: 20px;

    @media screen and (min-width: $tablet) {
        margin-left: 16px;
    }
}

.buttons-list__item:last-child {
    @media screen and (max-width: $tablet) {
        margin-top: 0;
    }
}

.buttons-list__item__header:not(:first-child) {
    margin-left: 20px;

    @media screen and (min-width: $tablet) {
            margin-left: 32px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 16px;
    }
}

.buttons-list__film-modal {
    display: none;
}

.button {
    min-width: 110px;
    padding: 13px;

    text-transform: uppercase;
    text-align: center;

    cursor: pointer;

    border-radius: $imgBorderRadius;

    transition: background-color 300ms $cubicBezier, border 300ms $cubicBezier, color 300ms $cubicBezier;

    @media screen and (min-width: $tablet) {
        min-width: 125px;
        padding: 14px 10px 12px 10px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 136px;
    }
}

.button__modal--orange {
    @media screen and (max-width: $tablet) {
        padding: 6px 27px;
    }
}

.button--transparent {
    background-color: transparent;
    border: 1px solid $primeryTextColor;
}

.button--transparent:focus,
.button--transparent:hover {
    background-color: $accentColor;
    color: $secondaryColor;

    border: 1px solid transparent;
}

.button__header {
    min-width: 130px;
    padding: 13px 36px;

    font-size: 12px;
    
    @media screen and (min-width: $tablet) {
        min-width: 152px;
        padding: 13px 46px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 147px;
        padding-left: 41px;
        padding-right: 41px;
    }
}

.button__header--transparent {
    color: $secondaryColor;
    
    border: 1px solid $secondaryColor;
}

.button__header--active {
    background-color: $accentColor;
        color: $secondaryColor;
    
        border: 1px solid transparent;
}