.modal__team {
  position: absolute;
  top: 2%;
  background-color: white;
  padding: 40px 30px 40px;

  overflow: scroll;

  @media screen and (min-width: $tablet) {
    padding: 40px 15px 40px;
  }
}

.git-project {
  display: inline-block;

  width: 50px;
  height: 50px;
}

.git-project svg {
  transition: fill 300ms $cubicBezier;
}

.git-project:hover svg,
.git-project:focus svg {
  fill: $accentColor;
}

.team-heading {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.team-list {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(1, 220px);
  gap: 5px;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 5px;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(6, 240px);
    gap: 10px;
  }
}
.team-item {
  display: flex;
  flex-direction: column;
  padding: 5px;

  border-radius: 5px;
  transition-duration: 500ms;
  &:hover,
  &:focus {
    box-shadow: 1px 8px 20px grey;
    transition: box-shadow 0.3s ease-in;
  }
}

.team__member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  background-image: url(/src/images/team/github.svg);
  background-position: center;
  background-color: $primeryBackgroundColor;
  background-repeat: no-repeat;
}

.team-img {
  object-fit: cover;
  width: 100%;
  height: 260px;
  border-radius: 3px;
}
.team-desc-container {
  margin-top: 10px;
  text-align: center;
}

.git-member svg {
  transition: fill 300ms $cubicBezier;
}

.git-member:hover svg,
.git-member:focus svg {
  fill: $accentColor;
}

.team-name {
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 7px;
  color: black;
}
.team-position {
  font-size: 14px;
  font-weight: 500;
  color: $accentColor;
}

.lightbox-button {
  position: absolute;
  top: 10px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  &:hover {
    transform: scale(1.3);
    fill: var(--accent-color);
    transition-duration: 600ms;
  }
  @media screen and (min-width: 768px) {
    right: 20px;
  }
}
// These are our KOTIKI
.heading__wrapper {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin-bottom: 30px;
  }
}

.typing-team {
  width: 780px;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  // font-family: Comic;
  font-size: 5em;
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
