.modal-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 20px;
  min-width: 280px;
  position: relative;

  background-color: $primeryBackgroundColor;
  overflow: scroll;
  height: 100vh;
  padding-top: 48px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 40px 36px;
    column-gap: 68px;
    max-width: 704px;
    align-items: flex-start;
    justify-content: center;
    height: unset;
    overflow: unset;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 12px;
    column-gap: 16px;
    max-width: 806px;
  }
}

.modal {
  position: relative;
  margin-top: 40px;
  @media screen and (min-width: $tablet) {
    margin-top: unset;
  }
}

.modal-movie__info-weapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $tablet) {
    padding-left: unset;
    padding-right: unset;
  }
}

.modal-movie__title {
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.modal-movie__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal-movie__item {
  display: flex;
}

.modal-movie__key {
  color: $tertiaryTextColor;
  min-width: 108px;
}

.modal-movie__value {
  &--accent {
    color: $secondaryColor;
    background-color: $accentColor;
    border-radius: 5px;
    padding: 0 8px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.modal-movie__about-wrapper {
  font-size: 12px;
  line-height: 1.67;
}

.modal-movie__about {
  text-transform: uppercase;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal-movie__button-wrapper {
  display: flex;
  column-gap: 16px;
}

.modal-movie__btn {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

body.dark-theme {
  & .modal {
    background-color: #12181c;
  }

  & .modal__close {
    fill: #ffffff;
  }
}

.poster {
  border-radius: 5px;
  max-width: 240px;
  @media screen and (min-width: $tablet) {
    max-width: 264px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 360px;
  }
}

// trailer

.poster-wrap {
  position: relative;
}

.trailer-wrapper {
  @media screen and (max-width: 767px) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: $tablet) {
    width: 40px;
    min-height: 40px;
    top: 10px;
    left: 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 50px;
    min-height: 50px;
    top: 15px;
    left: 15px;
  }
  position: absolute;
  width: 50px;
  height: 35px;

  background-color: transparent;
  top: 20px;
  left: 20px;
  // background-image: url('https://www.freepnglogos.com/uploads/youtube-play-red-logo-png-transparent-background-6.png');
  // background-size: 50px;
  // background-repeat: no-repeat;
  cursor: pointer;
}

.backdrop-iframe {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: absolute;
}

.youpoop {
  transition: opacity 300ms;
}

.youpoop:hover,
.youpoop:focus {
  opacity: 80%;
}

.modal-movie__notify {
  // height: 32px;
  text-align: center;
  max-width: 390;
}

.trailer {
  position: relative;
  display: block;
  border-radius: 3%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 200px;
    min-height: 230px;
  }
  @media screen and (min-width: $tablet) {
    width: 400px;
    min-height: 250px;
  }

  @media screen and (min-width: $desktop) {
    width: 700px;
    min-height: 400px;
  }
  width: 600px;
  min-width: 310px;
  height: auto;
  min-height: 400px;
}

.poobox {
  position: absolute;
  min-width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.poop-close {
  position: absolute;
  left: 50%;
  top: 100px;
  transition: color 300ms;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  z-index: 3;
  font-size: xx-large;
  color: #ffffff;
  border: none;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    top: 150px;
  }
  @media screen and (min-width: $tablet) {
    top: 40px;
  }
}
.poop-close:hover {
  color: #fb8e2f;
}

// Scroll-bar start
.modal-movie__overview {
  max-height: 236px;
  width: 240px;
  overflow-y: scroll;

  @media screen and (min-width: $mobile) {
    max-height: 236px;
    width: 240px;
  }

  @media screen and (min-width: $mobile) and (min-width: $tablet) {
    max-height: 236px;
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    max-height: 160px;
    width: 391px;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca6aa;
}

// Scroll-bar finish
iframe {
  z-index: 3;
}

.icon-poop-close {
  stroke: #ffffff;
  transition: stroke 300ms $cubicBezier;

  &:hover {
    stroke: $accentColor;
  }
}
