.modal-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 20px;
  min-width: 280px;

  background-color: $primeryBackgroundColor;
  overflow: scroll;
  height: 100vh;
  padding-top: 48px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 40px 36px;
    column-gap: 68px;
    max-width: 704px;
    align-items: flex-start;
    justify-content: center;
    height: unset;
    overflow: unset;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 12px;
    column-gap: 16px;
    max-width: 806px;
  }
}

.modal {
  position: relative;
  margin-top: 40px;
  @media screen and (min-width: $tablet) {
      margin-top: unset;
    }
}

.modal-movie__info-weapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $tablet) {
      padding-left: unset;
      padding-right: unset;
    }

}

.modal-movie__title {
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.modal-movie__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal-movie__item {
  display: flex;
}

.modal-movie__key {
  color: $tertiaryTextColor;
  min-width: 108px;
}

.modal-movie__value {
  &--accent {
    color: $secondaryColor;
    background-color: $accentColor;
    border-radius: 5px;
    padding: 0 8px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.modal-movie__about-wrapper {
  font-size: 12px;
  line-height: 1.67;
}

.modal-movie__about {
  text-transform: uppercase;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal-movie__button-wrapper {
  display: flex;
  column-gap: 16px;
}

.modal-movie__btn {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

body.dark-theme {
  & .modal {
    background-color: #12181c;
  }

  & .modal__close {
    fill: #ffffff;
  }
}

.trailer {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.poster {
  border-radius: 5px;
  max-width: 240px;
  @media screen and (min-width: $tablet) {
      max-width: 264px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 360px;      
    }
}

.modal-movie__notify {
  // height: 32px;
  text-align: center;
}


// Scroll-bar start 
.modal-movie__overview {
  height: 236px;
  width: 240px;
  overflow-y: scroll;

  @media screen and (min-width: $mobile) {
    height: 236px;
    width: 240px;
  }

  @media screen and (min-width: $mobile) and (min-width: $tablet) {
    height: 236px;
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    height: 160px;
    width: 391px;
  }

}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca6aa;
}


// Scroll-bar finish