.team-info {
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
  width: 280px;
  height: auto;
  background-color: $primeryBackgroundColor;

  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 40px 40px 40px 40px;
  }
  @media screen and (min-width: 1024px) {
    width: 880px;
  }
}
.team-heading {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 0;
  padding: 0;
}
.team-item {
  position: relative;
  width: 240px;
  height: auto;
  list-style-type: none;
  border-radius: 5px;
  transition-duration: 1000ms;
  &:hover {
    transform: scale(1.15);
    transition-duration: 1000ms;
  }
  box-shadow: 5px 5px 35px 10px rgba(233, 152, 31, 0.3);
}
.team-link {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    background-image: url(/src/images/team/github.svg);
    background-position: center;
    background-color: $primeryBackgroundColor;
    background-repeat: no-repeat;
  }
}

.team-img {
  object-fit: cover;
  width: 100%;
  height: 280px;
  border-radius: 3px;
}
.team-desc-container {
  text-align: center;
}
.team-name {
  font-size: 20px;
  margin-top: 7px;
  color: aliceblue;
}
.team-position {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: aliceblue;
}

.lightbox-button {
  position: absolute;
  top: 10px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
  transition-duration: 600ms;
  &:hover {
    transform: scale(1.3);
    fill: var(--accent-color);
    transition-duration: 600ms;
  }
  @media screen and (min-width: 768px) {
    right: 20px;
  }
}
// These are our KOTIKI
.wrapper {
  padding-bottom: 30px;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-team {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Comic;
  font-size: 5em;
  color: aliceblue;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}